.bannerMainSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.bannerLeftCon{
   
}

.bannerText{
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    font-family: Poppins;
    color: #42446E;
    text-align: left;
    font-weight: 700;
}

.nameSpanEl{
    background: linear-gradient(90deg, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerRightCon{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-image: linear-gradient(to top ,#13B0F5, #E70FAA);
    padding: 10px;
}

.profileImageCon{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}