.bannerMainSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.bannerLeftCon{
   
}

.bannerText{
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1px;
    font-family: Poppins;
    color: #42446E;
    text-align: left;
    font-weight: 700;
}

.bannerTextDark{
  color: #D9D9D9;
}


.nameSpanEl {
  display: inline-block;
  width: 0ch; /* Start from 0 */
  background: linear-gradient(90deg, #13B0F5, #E70FAA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;  /* keep text in one line */
  overflow: hidden;     /* hide overflowing text */
  border-right: 2px solid #13B0F5; /* optional cursor */
  animation: typing 4s steps(17, end) infinite alternate;
  z-index: 2;
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 17ch; /* match the max chars */
  }
}


.bannerRightCon{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-image: linear-gradient(to top ,#13B0F5, #E70FAA);
    padding: 10px;
}

.profileImageCon{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* TAB */
@media only screen and (min-width: 801px) and (max-width: 1600px) {
  .bannerText{
    font-size: 44px;
    line-height: 50px;
    margin-left: 10px;
  }

  .bannerRightCon{
    height: 310px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .bannerMainSection{
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .bannerText{
    font-size: 32px;
    line-height: 40px;
    margin-left: 10px;
  }

  .bannerRightCon{
    height: 280px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}