.expereinceMainCon{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.expereinceMainConDrak{
    background-color: #1a1919;
}

.expereinceMainConDigital{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.expereinceEachBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.topCompanyDetailsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 19px;
}

.topCompanyDetailsLeftBox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.comapanyNumber{
    color: gray;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
}

.comapanyRoll{
    color: #141414;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2.2px;
}

.topCompanyDetailsMiddleBox{
    width: 108px;
    height: 108px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #43D9AD;
    background: #FFF;
    position: relative;
    z-index: 1;
}

.topCompanyDetailsMiddleBox img{
    width: 90%;
    height: 90%;
    flex-shrink: 0;
}

.topCompanyDetailsRightBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.comapanyName{
    color: #43D9AD;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.comapanyJoiningDate{
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 900;
}

.bottomCardHoldingCon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.CompanyDetailscardHoldingCon{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ifCardIsLeftSide{
    padding-right: 7%;
}

.ifCardIsRightSide{
    padding-left: 7%;
}

.CompanyCardRightSideSpace{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.CompanyDetailscard{
    background: rgba(255, 255, 255, 0.11);
    width: 90%;
    padding: 14px;
}

.CompanyDetailscardIfDark{
    background: rgba(26, 26, 26, 0.11);
}

.companyDescNumber{
    color: #607B96;
    text-align: right;
    font-family: "Fira Code";
    font-size: 18px;
    font-weight: 450;
}

.companyDesc{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.CompanycardContantCon{
    display: flex;
    gap:16px;
    margin-bottom: 15px;
}

.companyNameVertical{
    font-family:Tourney;
    font-size: 60px;
    color: gray;
    writing-mode: vertical-rl; 
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
}

.hrLineInCenter{
    height: 100%;
    width: 1px solid  rgba(255, 255, 255, 0.47);
    position: absolute;
    left: 49.5%;
    z-index: 0;
    top: 0;
}

.row-reverse{
    flex-direction: row-reverse;
}

.flex-end{
    align-items: flex-end;
}

.flex-start{
    align-items: flex-start;
}

.comapanyRollForMobile{
    display: none;
}

/* mode styles */
.textIfDark{
    color: #FFF;
}

.textIfLight{
    color: #42446E;
}


@media only screen and (min-width: 801px) and (max-width: 1600px) {
    .CompanycardContantCon{
        gap:10px;
        margin-bottom: 10px;
    }

    .expereinceMainCon{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .companyDesc,
    .companyDescNumber{
        font-size: 14px;
    }

    .comapanyNumber{
        font-size: 32px;
    }
    
    .comapanyName,
    .comapanyRoll{
        font-size: 18px;
    }
    
    .comapanyJoiningDate{
        font-size: 16px;
    }

    .topCompanyDetailsMiddleBox{
        width: 80px;
        height: 80px;
        border: 3px solid #43D9AD;
    }

    .companyNameVertical{
        font-size: 40px;
    }

    .CompanyDetailscardHoldingCon{
        width: 94%;
    }
    
    .ifCardIsLeftSide{
        padding-right: 6%;
    }
    
    .ifCardIsRightSide{
        padding-left: 6%;
    }

    .bottomCardHoldingCon{
        margin-top: 10px;
    }

    .expereinceEachBox{
        margin-bottom: 36px;
    }

    .comapanyRollForMobile{
        display: none;
    }
    
    
}

/* MOBILE */
@media only screen and (max-width: 800px) {
    .CompanyCardRightSideSpace,
    .topCompanyDetailsLeftBox,
    .hrLineInCenter{
        display: none;
    }

    .expereinceMainCon{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .topCompanyDetailsMiddleBox{
        width: 51px;
        height: 42px;
    }

    .comapanyName{
        font-size: 16px;
    }

    .comapanyJoiningDate{
        font-size: 14px;
    }

    .CompanyDetailscard{
        width: 100%;
        padding: 8px;
    }

    .ifCardIsLeftSide{
        padding-right: 0%;
    }

    .ifCardIsRightSide{
        padding-left: 0%;
        flex-direction: column !important;
    }

    .expereinceMainCon{
        padding: 0px;
        top:0px;
    }

    .companyDesc,
    .companyDescNumber{
        font-size: 10px;
    }

    .CompanycardContantCon{
        margin-bottom: 12px;
    }

    .row-reverse{
        flex-direction: row;
    }

    .flex-end{
        align-items: flex-start;
    }

    .comapanyRollForMobile{
        display: block;
        color: #FFF;
        font-family: Outfit;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 6px;
    }

    .CompanyDetailscardHoldingCon{
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .topCompanyDetailsBox{
        gap: 8px;
    }

    .expereinceEachBox{
        margin-top: 10px;
        margin-left: 10px;
        width: 95%;
        scroll-margin-top: 100px;
    }

    .expereinceMainCon .expereinceEachBox:last-child{
        margin-bottom: 10px;
    }
    

}