.footer-main-con{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-inner-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.footer-hr-line{
    border-top: 2px solid #666666;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-contect-con{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.footer-social-media-con{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}