.footer-main-con{
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-inner-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.footer-hr-line{
    border-top: 2px solid #666666;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.footer-contect-con{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.footer-social-media-con{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: 3rem;
}

.footerSocailIcon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footerSectionButtonCon{
    width: auto;
}

.footerSectionButton{
    color: #42446E;
    font-size: 26px;
    background-color: transparent;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.footerSectionButton:hover{
    font-weight: bold;
    background: linear-gradient(90deg, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.footerBottomSectionsCon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.footerLocationText{
    color: #42446E;
    font-size: 20px;
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerLocationText svg{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 801px) and (max-width: 1600px) {
      .footerSectionButton{
        font-size: 18px;
    }

       .footer-hr-line{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
}


/* MOBILE */
@media only screen and (max-width: 800px) {
    .footer-inner-con{
        justify-content: space-between;
        gap: 10px;

        flex-wrap: wrap;
        position: relative;
    }

    .footer-social-media-con{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-left: 3rem;

        position: absolute;
        top: 1rem;
        right: 0;
    }

    .footerSectionButton{
        font-size: 16px;
    }

    .footerBottomSectionsCon{
        gap: 1rem;
    }

    .footerLocationText{
        font-size: 18px;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 10px;
    }

    .footer-hr-line{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
}

