.header-main-con{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.header-inner-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}

.header-right-con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-sections-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.sectionButtonCon{
    width: auto;
}

.sectionButton{
    color: #666666;
    font-size: 26px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    user-select: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.sectionButton:hover{
    font-weight: bold;
    background: linear-gradient(90deg, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.header-left-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-profile-name{
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(90deg, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-profile-bottom-name{
    font-size: 20px;
    font-weight: 600;
}

.modeIcon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.header-social-con{
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header-social-con svg{
    cursor: pointer;
}

.ModeDropDownMainCon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ModeDropDownCon{
    position: absolute;
    top: 30px;
    /* background-color: black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    min-width: 100px;
    padding: 4px;
    gap: 4px;
    border: 1px solid gray;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(8px);   
}

.dropdownButton{
    border: none;
    background-color: transparent;
    position: relative;
}

.dropdownIamges{
    height: 60px;
    width: 150px;
    border-radius: 10px;
}

.dropdownButton span{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    bottom: 4px;
    right: 4px;
}

.floatingBtnClass{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
    right: 2rem;
    background-image: linear-gradient(to top ,#13B0F5, #E70FAA);
    animation: pulse-animation 2s infinite;
    cursor: pointer;
}

.floatingBtnClass svg{
    z-index: 2;
    position: relative;
    transform: rotate(270deg);
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #a5a5a5;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.headerBottomCon{
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right ,#13B0F5, #E70FAA);
}

/* TAB */
@media only screen and (min-width: 801px) and (max-width: 1280px) {
    .header-inner-con {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header-sections-con{
        gap: 2rem;
    }

    .header-social-con{
        margin-left: 2rem;
        gap: 2rem;
    }
}

/* MOBILE */
@media only screen and (max-width: 800px) {
    .header-inner-con {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-sections-con{
        display: none;
    }

    .header-social-con{
        margin-left: 10px;
        gap: 1rem;
    }
}