.techStackMainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.techSectionHeading{
    font-size: 48px;
    color: #42446E;
    margin-bottom: 1rem;
}

.techSectionText{
    color: #666666;
    font-size: 32px;
}

.skillsCon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.skillImage{
    width: 120px;
    height: 120px;
}

.skillImageCon{
    width: 120px;
    height: 120px;
    
}