*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: sans-serif;
}

button{
  cursor: pointer;
}

.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  transition-property: all;
  transition-duration: 0.5s;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;

    background: rgba(255,255,255,0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(6px);
}

.frontCon{
  background-color: transparent;
  z-index: 2;
}

.BackgroundVideo{
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: fill;

}

/* TAB */
@media only screen and (min-width: 801px) and (max-width: 1280px) {
  .App {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .App {
    padding-left: 10px;
    padding-right: 10px;
  }
}